@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 1px;
  background-color: #e0e9f5;
}


h1,
h2,
h3,
p {
  color: #042b5f;
}